.form{
    text-align: left;
    padding-top: 15px;
    padding-left: 50px;
}
.form h5{
    text-align: center;
    margin-top: 20px;
    font-size: 45px;
    margin-bottom: 5px;
    font-size: 50px;
}