/* .popup{
    height: 250px;
    width: 50%;
    background-color: antiquewhite;
    position: absolute;
    top: 25%;
    right: 25%;
}
.PopUp-header{
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 10px;
    border-bottom: 2px solid black;
} */